 <div style="width: 400px; background: rgb(218, 10, 10); height: 250px; display: block; margin: 15% auto">  
    <h4 style="text-align: center; display: block; padding: 85px 0">Такого пользователя нет</h4>
    <a href="../" style="font-size: 20px; text-decoration: none; color:black;">Вернуться к проверке</a>
  </div>
  